<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Goals</title>
</head>
<body>
<h1>Goals</h1>

<a th:href="@{/goal/create}">Create goal</a>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
    </tr>
    <tr th:each="goal : ${goals}" th:object="${goal}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <!--This is a literal substitution with an object selector to producs /goal/1 for a goal with id 1-->
        <td><a th:href="@{|/goal/*{id}|}">Detail</a></td>
    </tr>
</table>
</body>
</html>