<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>

<form th:action="@{/register}" th:object="${registration}" method="post">
    <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
    </ul>

    <label for="username">Username</label>
    <input type="text" id="username" th:field="*{username}" />

    <label for="password">Password</label>
    <input type="password" id="password"  th:field="*{password}" />


    <label for="passwordRepeat">Repeat Password</label>
    <input type="password" id="passwordRepeat" th:field="*{passwordRepeat}" />

    <input type="submit" value="register" />
</form>
</body>
</html>